# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md
      - nuget.config
      - .gitignore    

pool:
  vmImage: 'ubuntu-latest'

variables:
  configuration: 'Release'
  projectPath: src/Orleans.EventSourcing.Snapshot/Orleans.EventSourcing.Snapshot.csproj

steps:
  - task: UseDotNet@2
    displayName: 'Install .NET Core SDK'
    inputs:
      packageType: 'sdk'
      version: '7.x'

  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
      command: 'build'
      configuration: $(configuration)
      projects: $(projectPath)
  
  - task: DotNetCoreCLI@2
    displayName: 'Pack'
    inputs:
      command: 'pack'
      packagesToPack: $(projectPath)
      nobuild: true
      versioningScheme: 'off'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

